<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765731526678-ar15ic5nmjp8t9ruohnr15g6r7cm3o3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765731526678-ar15ic5nmjp8t9ruohnr15g6r7cm3o3b</string>
	<key>API_KEY</key>
	<string>AIzaSyBkYTeGC4RGFM0gdzEJC1TONRNmtTdUHEk</string>
	<key>GCM_SENDER_ID</key>
	<string>765731526678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>localexplorer-83e50</string>
	<key>STORAGE_BUCKET</key>
	<string>localexplorer-83e50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765731526678:ios:38053d79064f6a68b57d37</string>
</dict>
</plist>